name: CI
on:
  pull_request:
    branches:
      - main
    tags:
      - "*"
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: github-hosted-ubuntu-x64-small

    steps:
      - name: Checkout repo
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@3a0c2c82458cbb45a3cbfeeb2b91ce8f85420560
        with:
          cache: false
          go-version-file: ./go.mod
      - name: Lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9
        with:
          version: v2.1.6
  test:
    runs-on: github-hosted-ubuntu-x64-small

    steps:
      - name: Checkout repo
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@3a0c2c82458cbb45a3cbfeeb2b91ce8f85420560
        with:
          cache: false
      - name: Test
        run: go test ./...
